.reset-card {
  width: 420px;
  background: #191919;
  margin: auto;
  color: white;
  margin-top: 200px;
  padding-bottom: 2rem;
}

.reset-card h2 {
  padding: 2rem 0rem 1rem 0rem;
}

.reset-card p,
.reset-card h2 {
  text-align: center;
}

.reset-card .input-group {
  margin: 1rem 0rem;
  padding-inline: 3rem;
}

.input-group *{
  display: block;
  width: 100%;
}

.reset-card #email , .reset-card #code,
.reset-card .input-group #password,
.reset-card .input-group #confirmpassword {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto 5px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.reset-card #email:focus , .reset-card #code:focus,
.reset-card .input-group #password:focus,
.reset-card .input-group #confirmpassword:focus {
    width: 300px;
    border-color: #2ecc71;
}

.reset-card #submit {
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #2ecc71;
    margin: 0rem auto;
    padding: .8rem 2.5rem;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.reset-card .input-group .reset-error,
.reset-card .input-group .error {
  color: rgb(224, 10, 10);
  text-align: center;
}

