.footer{
    position: relative;
    display: grid;
    place-items: center;  
    background-color: white;
    color: black;
    bottom: 0;
    width: 100%;
    padding: 3rem 0rem ;    
}

.images img{
    padding: 10px;
}
