.footer{
    position: relative;
    display: grid;
    place-items: center;  
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    padding: 3rem 0rem ;    
    border-top: 1px solid white;
}

.images img{
    padding: 10px;
}
