.ourPrograms-dumble {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
    object-fit: cover;
}

.ourPrograms-head1 {
    position: absolute;
    opacity: 57%;
    color: rgb(228, 218, 218);
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.ourPrograms-more {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsla(0, 0%, 81%, 0.666);
    padding: 10px 20px;
}

.ourPrograms-more:hover {
    background-color: hsla(0, 0%, 88%, 0.884);
    border: none;
}

.ourPrograms-list {
    display: flex;
    justify-content: space-around;  
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 60vh;
    padding-top: 10%;
    margin-top: 9em;
    opacity: 80%;

}

.ourPrograms-item {
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-align: center;
    flex: 0.1; 
    transition: transform 0.2s; 
}

.ourPrograms-item:hover {
    transform: scale(1.05); 
}

.ourPrograms-link {
    text-decoration: none;
    color: hsl(0, 5%, 9%);
    opacity: 50%;
    transition: opacity 0.3s;
}

.ourPrograms-link:hover {
    color: hsl(0, 4%, 11%);
    opacity: 80%;
}
