.xaxaxa {
    background-color: transparent;
}

.rroorww {
    max-height: 400px;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2rem 2rem;
    margin-bottom: 6rem;
}

.rroorww h2 {
    font-weight: bolder;
}

.dodo {
    max-width: 100%;
}

.rroorww img {
    width: 300px;
    max-height: 50%;
}

.rroorww p{
    color: white !important;
}

