.rope-program-one {
    position: fixed;
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
}

.container-program-one {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.head-program-one {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-top: 2em;
}

.p-program-one {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    width: 90%;
    max-width: 600px;
    justify-content: center;
}

.program-card-one {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: 400px;
    justify-content: space-evenly;
    border: 1px solid white;    
    background-color: white;
    border-radius: 7px;
    margin-bottom: 3em;
}

.program-card-one img {
    border-radius: 7px;
}

.desc-program-one {
    align-content: center;
    width: 550px;
    font-size: medium;
    font-weight: 500;
}

.program-detail .people{
    
    width: 600px;
    height: 200px;
}

.program-detail-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.v-l-details {
    margin-top: 2em;
    margin-left: 3px;
    background-color: #000000d1;
    color: white;
    border: none;
    border-radius: 4px;
}

.v-l-details:hover {
    background-color: #000000b7;
}


.v-r-details {
    margin-top: 2em;
    margin-left: 3px;
    
    background-color: #000000d1;
    color: white;
    border: none;
    border-radius: 4px;
}

.v-r-details:hover {
    background-color: #000000b7;
}