.container {
    height: 100vh;
    background-color: #000;
    color: #fff;
  }
  
  .card {
    width: 400px;
    background-color: #222;
    border: 2px solid #ff0000; 
    color: #fff;
  }
  
  .card-img-top {
    width: 150px;
    height: 150px;
    border: 5px solid #ff0000; 
  }
  
  .card-title {
    color: #ff0000; 
  }
  
  .card-text {
    font-size: 1.1rem;
  }
  